<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <style>
            .sem-bordas td {
                border: none;
                padding: 5px;
            }
        </style>
    </h:head>
    <h:body>

        <h:form id="frm">
            <p:messages />

            <p:panelGrid columns="2">
                <p:outputLabel value="Nome" for="nome"/>
                <p:inputText id="nome" required="true" value="#{alunoBean_4.nome}"/>

                <p:outputLabel value="Interesses" for="interesses" />
                <p:selectManyCheckbox id="interesses" value="#{alunoBean_4.interesses}"
                                      required="true" styleClass="sem-bordas" layout="pageDirection">
                    <f:selectItem itemLabel="Cinema" itemValue="1" />
                    <f:selectItem itemLabel="Computadores" itemValue="2" />
                    <f:selectItem itemLabel="Programação" itemValue="3" />
                    <f:selectItem itemLabel="Leitura" itemValue="4" />
                </p:selectManyCheckbox>
                <p:selectCheckboxMenu label="Interesses" value="#{alunoBean_4.interesses}" filter="true" filterMatchMode="startsWith" panelStyle="width:250px" >
                    <f:selectItem itemLabel="Cinema" itemValue="1" />
                    <f:selectItem itemLabel="Computadores" itemValue="2" />
                    <f:selectItem itemLabel="Programação" itemValue="3" />
                    <f:selectItem itemLabel="Leitura" itemValue="4" />
                </p:selectCheckboxMenu>
            </p:panelGrid>

            <p:commandButton value="Atualizar" action="#{alunoBean_4.cadastrar}" update="frm"/>
        </h:form>

    </h:body>
</html>