<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </h:head>
    <h:body>

        <h:form id="frm">
            <p:messages />

            <p:panelGrid columns="2">
                <p:outputLabel value="Nome" for="nome"/>
                <p:inputText id="nome" required="true" value="#{alunoBean_5.nome}" />

                <p:outputLabel value="Profissão" for="profissao" />
                <p:selectOneMenu id="profissao" value="#{alunoBean_5.profissao}" required="true">
                    <f:selectItem itemLabel="Estudante" itemValue="1" />
                    <f:selectItem itemLabel="Empresário" itemValue="2" />
                    <f:selectItem itemLabel="Programador" itemValue="3" />
                    <f:selectItem itemLabel="Outras" itemValue="4" />
                </p:selectOneMenu>
                <p:outputLabel value="Simple:" for="acSimple" />
                <p:autoComplete id="acSimple" value="#{alunoBean_5.profissao}" completeMethod="#{alunoBean_5.completeText}" />
            </p:panelGrid>

            <p:commandButton value="Atualizar" action="#{alunoBean_5.cadastrar}" update="frm"/>
        </h:form>

    </h:body>
</html>